<!DOCTYPE html>
{% extends "base.html" %}

{% load staticfiles %}


{%block script%}

<style>
	div.dataTables_filter {
	    text-align: left;
	}
	.col-sm-6 {
	    width: 20%;
	}
  .filterMatches { background-color: #FFFF00; }

  </style>


<script>


$(document).ready(function() {

    //hide empty columns
    $('#recent tr th').each(function(i) {
     //select all tds in this column
     var tds = $(this).parents('table')
              .find('tr td:nth-child(' + (i + 1) + ')');
        //check if all the cells in this column are empty
        if(tds.length == tds.filter(':empty').length) { 
            //hide header
            $(this).hide();
            //hide cells
            tds.hide();
        } 
    }); 


     var table = $('#recent').dataTable( {


        //highlight search text, CHECK
        "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            var settings = this.fnSettings();
            var str = settings.oPreviousSearch.sSearch;
            var regex = new RegExp( str, 'i');
            $('td', nRow).each( function(i) {
                this.innerHTML = aData[i].replace( regex, function(matched) { return "<span class='filterMatches'>"+matched+"</span>";});
            });
            return nRow;
        },

        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.8/i18n/Chinese.json"
        },
        "scrollX": "100%",
        "scrollY": 400,
        "fixedHeader": true,
        "pageLength": 10,
        "bAutoWidth": true,
        "order": [[ 2, "desc" ]],
        //"oSearch": {"sSearch": "{{g}}"},
        "aoSearchCols": [null,{ "sSearch": "{{p}}"},null,{ "sSearch": "{{u}}"},null,null],

 
    } );//table



} );
</script>



<script type="text/javascript">
      $(function () {
        "use strict";

        // AREA CHART
        var area = new Morris.Area({
          element: 'patient-number-chart',
          resize: true,
          data: [
            {y: '2015 Q1', item1: 0, item2: 23},
            {y: '2015 Q2', item1: 23, item2: 21},
            {y: '2015 Q3', item1: 0, item2: 0},
            {y: '2015 Q4', item1: 0, item2: 0},
            {y: '2016 Q1', item1: 0, item2: 0},
            {y: '2016 Q2', item1: 0, item2: 0},
            {y: '2016 Q3', item1: 0, item2: 0},
            {y: '2016 Q4', item1: 0, item2: 0},
            {y: '2017 Q1', item1: 0, item2: 0},
            {y: '2017 Q2', item1: 0, item2: 0}
          ],
          xkey: 'y',
          ykeys: ['item1', 'item2'],
          labels: ['我的数据', '医生均值'],
          lineColors: ['#a0d0e0', '#3c8dbc'],
          hideHover: 'auto'
        });

        // LINE CHART
        var line = new Morris.Line({
          element: 'line-chart',
          resize: true,
          data: [
            {y: '2015-01', item1: 0},
            {y: '2015-02', item1: 0},
            {y: '2015-03', item1: 0},
            {y: '2015-04', item1: 0},
            {y: '2015-05', item1: 0},
            {y: '2015-06', item1: 4},
            {y: '2015-07', item1: 22},
            {y: '2015-08', item1: 45},
          ],
          xkey: 'y',
          ykeys: ['item1'],
          labels: ['病人数目'],
          lineColors: ['#3c8dbc'],
          hideHover: 'auto'
        });

        //DONUT CHART
        var donut = new Morris.Donut({
          element: 'status-chart',
          resize: true,
          colors: ["#3c8dbc", "#f56954", "#00a65a"],
          data: [
            {label: "死亡", value: 12},
            {label: "随访中", value: 30},
            {label: "住院", value: 20}
          ],
          hideHover: 'auto'
        });
        //BAR CHART
        var bar = new Morris.Bar({
          element: 'bar-chart',
          resize: true,
          data: [
            {y: '201501', a: 100, b: 90},
            {y: '201502', a: 75, b: 65},
            {y: '201503', a: 50, b: 40},
            {y: '201504', a: 75, b: 65},
            {y: '201505', a: 50, b: 40},
            {y: '201506', a: 75, b: 65},
            {y: '201507', a: 100, b: 90},
            {y: '201508', a: 100, b: 90},
            {y: '201509', a: 100, b: 90}
          ],
          barColors: ['#00a65a', '#f56954'],
          xkey: 'y',
          ykeys: ['a', 'b'],
          labels: ['伤口感染', '神经损害表现'],
          hideHover: 'auto'
        });
      });
    </script>



{%endblock%}


{%block content%}

          
        <ul class="breadcrumb">
          <li><a href="/">主页</a></li>
          <li class="active">控制台</li>
        </ul>
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            控制台
            <!--<small>电子病历 从未如此优雅</small>-->
          </h1>
          <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">控制台</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3 style='font-size:30px;'>返回</h3>
                  <p>回控制台页面</p>
                </div>
                <div class="icon">
                  <i class="ion ion-ios-home-outline"></i>
                </div>
                <a href="/dashboard/" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3 style='font-size:30px;'>我的病人</h3>
                  <p>查看我的病人信息</p>
                </div>
                <div class="icon">
                  <i class="ion ion-funnel"></i>
                </div>
                <a href="/dashboard/#mypatient" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
	           <div class="small-box bg-yellow">
                <div class="inner">
                  <h3 style='font-size:30px;'>搜索 </h3>
                  <p>自定义搜索 </p>
                </div>
                <div class="icon">
                  <i class="ion ion-plus-round"></i>
                </div>
                <a href="#" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3 style='font-size:30px;'>管理员</h3>
                  <p>数据库管理</p>
                </div>
                <div class="icon">
                  <i class="ion ion-ios-cloud-download-outline"></i>
                </div>
                <a href="/admin/" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->
          <!-- Main row -->

        <!-- Content Header (Page header) -->
        <section id='mypatient' class="content-header">
          <h1>
            我的病人
            <small>输入以搜索</small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">

              <div class="box">

                <div class="box-body">
    {% if objs.count %}
    <table class="table table-bordered table-striped " id="recent" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>数据库编号</th>
                <th>姓名</th>
                <th>病历号</th>                
                <th>性别</th>
                <th>出生年月</th>
                <!--<th>身份证号</th>-->
                <th>地区</th>
                <th>随访电话</th>
                <th>去世日期</th>
                <th>关系</th>
                <th>电话</th>
                <th>Email</th>
                <th>微信</th>
                <th>在随访中</th>

            </tr>
        </thead>

        <tbody>
                {% for obj in objs %}
                  <tr>
                    <td><a href="{{obj.get_absolute_url}}">{{obj.DB_ID}}</a></td>
                    <td>{{obj.name}}</td>
                    <td>{{obj.EMR_id}}</td>
                    <td>{{obj.sex}}</td>
                    <td>{{obj.DOB}}</td>
                    <!--<td>{{obj.social_id}}</td>-->
                    <td>{{obj.location}}</td>
                    <td>{{obj.phone}}</td>
                    <td>{{obj.DOD}}</td>
                    <td>{{obj.get_relative_display}}</td>
                    <td>{{obj.relative_phone}}</td>
                    <td>{{obj.relative_email}}</td>
                    <td>{{obj.relative_wechat}}</td>
                    <td>{{obj.get_relative_in_contact_display}}</td>

                  </tr>

                {% endfor %}
        </tbody>
    </table>
{% else %}
<div class="panel-body" style="width: 95%;margin-left:auto;margin-right:auto;">
        <div class="well well-sm" style="margin-bottom: 2px;"><strong>数据库中找不到由您主治的病人！</div></strong>
  </div>
{% endif %}
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
 

        </section><!-- /.content -->





	<!--Chart section-->
        <section class="content-header">
          <h1>
            图表（测试版）
            <small>病人数据统计</small>
          </h1>
        </section>
	<section class="content" id='charts'>
	   <div class="row">
            <div class="col-md-6">
              <!-- AREA CHART -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">您的病人数量统计</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body chart-responsive">
                  <div class="chart" id="patient-number-chart" style="height: 300px;"></div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
              <!-- DONUT CHART -->
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">您的病人分类</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body chart-responsive">
                  <div class="chart" id="status-chart" style="height: 300px; position: relative;"></div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
		

            </div><!-- /.col (LEFT) -->
            <div class="col-md-6">
              <!-- LINE CHART -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">数据库条目增长趋势</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body chart-responsive">
                  <div class="chart" id="line-chart" style="height: 300px;"></div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
              <!-- BAR CHART -->
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">与您相关的术后并发症统计</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body chart-responsive">
                  <div class="chart" id="bar-chart" style="height: 300px;"></div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->

            </div><!-- /.col (RIGHT) -->
          </div><!-- /.row -->

        </section><!-- /.content -->



{%endblock%}
